In [1]:
import numpy as np
import pandas as pd
import itertools
import math 
import cmath
from itertools import product

In [2]:
transmission_rate = [.7, .93, .94, .95, .96]
np.savetxt('transmission_rate.txt', transmission_rate)

In [3]:
new_transmission_rate = np.genfromtxt("transmission_rate.txt")

In [4]:
print(new_transmission_rate)

[ 0.7   0.93  0.94  0.95  0.96]

In [5]:
# Blue, 0 
# Umag: 4.996547735709 
# Gmag: 4.3757386228391
# Rmag: 4.6764732017454
# Imag: 4.792865128641
# Zmag: 4.7814960592642

Galaxies_and_Redshifts = {'Galaxy': ['Red', 'Blue'], 'Redshift': [0, 0.5, 1.5]}
Galaxies_and_Redshifts_List = list(itertools.product(Galaxies_and_Redshifts['Galaxy'], Galaxies_and_Redshifts['Redshift']))
Galaxies_and_Redshifts_List_df = pd.DataFrame(data = Galaxies_and_Redshifts_List, columns = Galaxies_and_Redshifts.keys())
# k = 0
# for i in d['Galaxy']:
#     k += 1
#     for j in d['Redshift']:
#         IntermediateThing[k][0] = i
#         IntermediateThing[k][1] = j
# df = pd.DataFrame(data=d)
# df
Galaxies_and_Redshifts_List_df

  Galaxy  Redshift
0    Red       0.0
1    Red       0.5
2    Red       1.5
3   Blue       0.0
4   Blue       0.5
5   Blue       1.5

In [6]:
Galaxies_and_Redshifts_List_df['UltraViolet'] = pd.Series([.15, .0, .0, .45, .5, .7], index=Galaxies_and_Redshifts_List_df.index)

In [7]:
Galaxies_and_Redshifts_List_df['Green'] = pd.Series([.55, .1, .0, .6, .4, .5], index=Galaxies_and_Redshifts_List_df.index)

In [8]:
Galaxies_and_Redshifts_List_df['Red'] = pd.Series([.6, .1, .01, .45, .7, .45], index=Galaxies_and_Redshifts_List_df.index)

In [9]:
Galaxies_and_Redshifts_List_df['InfraRed'] = pd.Series([.75, .65, .075, .4, .6, .5], index=Galaxies_and_Redshifts_List_df.index)

In [10]:
Galaxies_and_Redshifts_List_df['Z'] = pd.Series([.75, .75, .65, .4, .55, .8], index=Galaxies_and_Redshifts_List_df.index)

In [11]:
Galaxies_and_Redshifts_List_df

  Galaxy  Redshift  UltraViolet  Green   Red  InfraRed     Z
0    Red       0.0         0.15   0.55  0.60     0.750  0.75
1    Red       0.5         0.00   0.10  0.10     0.650  0.75
2    Red       1.5         0.00   0.00  0.01     0.075  0.65
3   Blue       0.0         0.45   0.60  0.45     0.400  0.40
4   Blue       0.5         0.50   0.40  0.70     0.600  0.55
5   Blue       1.5         0.70   0.50  0.45     0.500  0.80

In [12]:
Galaxies_and_Redshifts_List_df.to_csv('Galaxies_and_Redshifts_List_df.csv', columns = Galaxies_and_Redshifts_List_df.columns, index = False)

In [13]:
Galaxies_and_Redshifts_List_df = pd.read_csv('Galaxies_and_Redshifts_List_df.csv')

In [14]:
Galaxies_and_Redshifts_List_df

  Galaxy  Redshift  UltraViolet  Green   Red  InfraRed     Z
0    Red       0.0         0.15   0.55  0.60     0.750  0.75
1    Red       0.5         0.00   0.10  0.10     0.650  0.75
2    Red       1.5         0.00   0.00  0.01     0.075  0.65
3   Blue       0.0         0.45   0.60  0.45     0.400  0.40
4   Blue       0.5         0.50   0.40  0.70     0.600  0.55
5   Blue       1.5         0.70   0.50  0.45     0.500  0.80

In [15]:
##Calculate Magnitudes - function
##Add those columns
##Add colors - Read in to Data...
##Graphs
    ##6 colors on one set of axis
    ##colors vs redshifts
    ##colors vs each other 
    ##Do red and blue galaxies cover same volume of colors 
    ##Plot on top of mycorner

In [16]:
Umag_list = []
for i in Galaxies_and_Redshifts_List_df['UltraViolet']:
    i = .7 * i
    i = i / 31.4
    if i == 0:
        i = 0
        print(i)
    else:
        i = math.log10(i)
        i = i * -2.5
        print(i)
    Umag_list.append(i)
Galaxies_and_Redshifts_List_df['Umag'] = pd.Series(Umag_list, index=Galaxies_and_Redshifts_List_df.index)

6.189350872508193
0
0
4.996547735709036
4.8821540093073486
4.516833920111754

In [17]:
Gmag_list = []
for i in Galaxies_and_Redshifts_List_df['Green']:
    i = .93 * i
    i = i / 31.4
    if i == 0:
        i = 0
        print(i)
    else:
        i = math.log10(i)
        i = i * -2.5
        print(i)
    Gmag_list.append(i)
Galaxies_and_Redshifts_List_df['Gmag'] = pd.Series(Gmag_list, index=Galaxies_and_Redshifts_List_df.index)

4.47021002506259
6.3211167487981985
0
4.375738622839091
4.815966770478293
4.5736917379581525

In [18]:
Rmag_list = []
for i in Galaxies_and_Redshifts_List_df['Red']:
    i = .94 * i
    i = i / 31.4
    if i == 0:
        i = 0
        print(i)
    else:
        i = math.log10(i)
        i = i * -2.5
        print(i)
    Rmag_list.append(i)
Galaxies_and_Redshifts_List_df['Rmag'] = pd.Series(Rmag_list, index=Galaxies_and_Redshifts_List_df.index)##I don't know why the only thing in the list is the last value of i

4.364126360224682
6.309504486183791
8.80950448618379
4.676473201745432
4.196759386148149
4.676473201745432

In [19]:
Imag_list = []
for i in Galaxies_and_Redshifts_List_df['InfraRed']:
    i = .95 * i
    i = i / 31.4
    if i == 0:
        i = 0
        print(i)
    else:
        i = math.log10(i)
        i = i * -2.5
        print(i)
    Imag_list.append(i)
Galaxies_and_Redshifts_List_df['Imag'] = pd.Series(Imag_list, index=Galaxies_and_Redshifts_List_df.index)

4.110361948481668
4.265731715353779
6.610361948481668
4.7928651286410116
4.352636981001809
4.550590096120871

In [20]:
Zmag_list = []
for i in Galaxies_and_Redshifts_List_df['Z']:
    i = .96 * i
    i = i / 31.4
    if i == 0:
        i = 0
        print(i)
    else:
        i = math.log10(i)
        i = i * -2.5
        print(i)
    Zmag_list.append(i)
Galaxies_and_Redshifts_List_df['Zmag'] = pd.Series(Zmag_list, index=Galaxies_and_Redshifts_List_df.index)

4.098992879104866
4.098992879104866
4.254362645976977
4.78149605926421
4.435739313848507
4.028921070104257

##I don't know why the only thing in each column is the last value of i
columns_for_this = ['UltraViolet', 'Green', 'Red', 'InfraRed', 'Z']
'UltraViolet Rate' = '.7'
'Green Rate' = '.93'
'Red Rate' = '.94'
'InfraRed Rate' = '.95'
'Z Rate' = '.96'
for x in columns_for_this:
    for i in Galaxies_and_Redshifts_List_df[x]:
        list = []
        Rate = x + Rate
        i = Rate * i
        i = i / 31.4
        if i == 0:
            i = 0
        else:
            i = math.log10(i)
            i = i * -2.5
        list.append(i)
    Galaxies_and_Redshifts_List_df[x[0] + 'mag'] = pd.Series(list, index=Galaxies_and_Redshifts_List_df.index)

In [21]:
Galaxies_and_Redshifts_List_df

,Galaxy,Redshift,UltraViolet,Green,Red,InfraRed,Z,Umag,Gmag,Rmag,Imag,Zmag
0,Red,0.0,0.15,0.55,0.60,0.750,0.75,6.189351,4.470210,4.364126,4.110362,4.098993
1,Red,0.5,0.00,0.10,0.10,0.650,0.75,0.000000,6.321117,6.309504,4.265732,4.098993
2,Red,1.5,0.00,0.00,0.01,0.075,0.65,0.000000,0.000000,8.809504,6.610362,4.254363
3,Blue,0.0,0.45,0.60,0.45,0.400,0.40,4.996548,4.375739,4.676473,4.792865,4.781496
4,Blue,0.5,0.50,0.40,0.70,0.600,0.55,4.882154,4.815967,4.196759,4.352637,4.435739
5,Blue,1.5,0.70,0.50,0.45,0.500,0.80,4.516834,4.573692,4.676473,4.550590,4.028921

In [23]:
Umag_Gmag = []
Gmag_Rmag = []
Rmag_Imag = []
Imag_Zmag = []
Zmag_Umag = []
for i in Galaxies_and_Redshifts_List_df.rows:
    Umag2 = Galaxies_and_Redshifts_List_df['Umag'][i]
    Gmag2 = Galaxies_and_Redshifts_List_df['Gmag'][i]
    Rmag2 = Galaxies_and_Redshifts_List_df['Rmag'][i]
    Imag2 = Galaxies_and_Redshifts_List_df['Imag'][i]
    Zmag2 = Galaxies_and_Redshifts_List_df['Zmag'][i]
    ug = Umag2 - Gmag2
    gr = Gmag2 - Rmag2
    ri = Rmag2 - Imag2
    iz = Imag2 - Zmag2
    zu = Zmag2 - Umag2
    Umag_Gmag.append(ug)
    Gmag_Rmag.append(gr)
    Rmag_Imag.append(ri)
    Imag_Zmag.append(iz)
    Zmag_Umag.append(zu)
Galaxies_and_Redshifts_List_df['Umag-Gmag'] = pd.Series(Umag_Gmag, index=Galaxies_and_Redshifts_List_df.index)
Galaxies_and_Redshifts_List_df['Gmag-Rmag'] = pd.Series(Gmag_Rmag, index=Galaxies_and_Redshifts_List_df.index)
Galaxies_and_Redshifts_List_df['Rmag-Imag'] = pd.Series(Rmag_Imag, index=Galaxies_and_Redshifts_List_df.index)
Galaxies_and_Redshifts_List_df['Imag-Zmag'] = pd.Series(Imag_Zmag, index=Galaxies_and_Redshifts_List_df.index)
Galaxies_and_Redshifts_List_df['Zmag-Umag'] = pd.Series(Zmag_Umag, index=Galaxies_and_Redshifts_List_df.index)

AttributeError: 'DataFrame' object has no attribute 'rows'