In [102]:
import astropy
from astropy import io
from astropy.io import fits
import csv
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [103]:
fits_data = astropy.io.fits.open('asu.fit')
zcosmos = fits_data[1].data

In [104]:
name_info = fits_data[1].columns
print([i.name for i in name_info])
zcosmos_names = [i.name for i in name_info]

['zCOSMOS', 'RAJ2000', 'DEJ2000', 'z', 'CClass', 'Imag', 'Mask']

In [105]:
useful_columns_zcosmos_data = [zcosmos_names[3], zcosmos_names[5]]

In [106]:
print(useful_columns_zcosmos_data)

['z', 'Imag']

In [107]:
z = useful_columns_zcosmos_data[0]
zcosmos_redshift = zcosmos[z]
print(zcosmos_redshift)

[ 0.8798  0.6972  0.9069 ...,  0.7077  0.6776  0.8266]

In [108]:
fits_data2 = astropy.io.fits.open('asu2.fit')
cosmos = fits_data2[1].data

In [109]:
name_info2 = fits_data2[1].columns
print([i.name for i in name_info2])
cosmos_names = [i.name for i in name_info2]

['COSMOS', 'RAJ2000', 'DEJ2000', 'istar', 'imagA', 'n_imagA', 'umag', 'Bmag', 'Vmag', 'gmag', 'rmag', 'imag', 'e_imag', 'zmag', 'Kmag', 'NB816', 'zphot']

In [110]:
useful_columns_cosmos_range = list(range(5, 15)) + [16]
useful_columns_cosmos_data = [cosmos_names[i] for i in useful_columns_cosmos_range]
print(useful_columns_cosmos_data)

['n_imagA', 'umag', 'Bmag', 'Vmag', 'gmag', 'rmag', 'imag', 'e_imag', 'zmag', 'Kmag', 'zphot']

In [111]:
zphot = useful_columns_cosmos_data[10]
cosmos_redshift = cosmos[zphot]
print(cosmos_redshift)

[ 1.34  0.76  0.4  ...,  0.08  1.5   1.57]

In [123]:
print(len(zcosmos))
print(len(cosmos))

10644
9999

In [112]:
zcosmos_df = pd.DataFrame(fits_data[1].data)
zcosmos_df.head()

   zCOSMOS     RAJ2000   DEJ2000       z  CClass   Imag  Mask
0   700137  150.502792  1.877646  0.8798     1.5  22.27     1
1   700142  150.395737  1.837453  0.6972     3.5  21.96     1
2   700178  150.305008  1.876265  0.9069     9.5  22.24     1
3   700189  150.308258  1.916484  0.8964     2.5  21.84     1
4   700210  150.210480  1.828116  0.2835     1.5  22.14     1

In [113]:
zcosmos_df_part2 = zcosmos_df.query('z<999')
zcosmos_df_filtered = zcosmos_df_part2.query('z>0.000')
zcosmos_df_filtered.head()

   zCOSMOS     RAJ2000   DEJ2000       z  CClass   Imag  Mask
0   700137  150.502792  1.877646  0.8798     1.5  22.27     1
1   700142  150.395737  1.837453  0.6972     3.5  21.96     1
2   700178  150.305008  1.876265  0.9069     9.5  22.24     1
3   700189  150.308258  1.916484  0.8964     2.5  21.84     1
4   700210  150.210480  1.828116  0.2835     1.5  22.14     1

In [114]:
cosmos_df = pd.DataFrame(fits_data2[1].data)
cosmos_df.head()

,COSMOS,RAJ2000,DEJ2000,istar,imagA,n_imagA,umag,Bmag,Vmag,gmag,rmag,imag,e_imag,zmag,Kmag,NB816,zphot
0,26429,150.74847,1.62620,0.40,24.1249,1,25.4934,24.9912,24.9563,25.2105,24.7035,24.2957,0.0540,23.5802,23.1113,24.2467,1.34
1,26430,150.78005,1.62618,0.14,23.7194,1,25.0668,24.5890,24.6187,24.8700,24.4337,24.0031,0.0446,23.4544,22.9926,23.9513,0.76
2,26431,150.79328,1.62584,0.80,23.5582,1,25.1767,24.6644,24.1307,24.6667,23.9864,23.6708,0.0364,23.2240,22.4682,23.5978,0.40
3,26433,150.73299,1.62607,0.60,24.8256,1,25.1141,24.8163,24.7607,24.7935,24.9016,24.7355,0.0738,24.3860,0.0000,24.6030,0.01
4,26436,150.73218,1.62422,0.16,23.7084,1,24.9316,24.5043,24.0938,24.5801,23.8355,23.9121,0.0424,23.5610,22.0594,23.8575,0.34

In [115]:
cosmos_df_part2 = cosmos_df.query('zphot<999')
cosmos_df_filtered = cosmos_df_part2.query('zphot>0.000')
cosmos_df_filtered.head()

,COSMOS,RAJ2000,DEJ2000,istar,imagA,n_imagA,umag,Bmag,Vmag,gmag,rmag,imag,e_imag,zmag,Kmag,NB816,zphot
0,26429,150.74847,1.62620,0.40,24.1249,1,25.4934,24.9912,24.9563,25.2105,24.7035,24.2957,0.0540,23.5802,23.1113,24.2467,1.34
1,26430,150.78005,1.62618,0.14,23.7194,1,25.0668,24.5890,24.6187,24.8700,24.4337,24.0031,0.0446,23.4544,22.9926,23.9513,0.76
2,26431,150.79328,1.62584,0.80,23.5582,1,25.1767,24.6644,24.1307,24.6667,23.9864,23.6708,0.0364,23.2240,22.4682,23.5978,0.40
3,26433,150.73299,1.62607,0.60,24.8256,1,25.1141,24.8163,24.7607,24.7935,24.9016,24.7355,0.0738,24.3860,0.0000,24.6030,0.01
4,26436,150.73218,1.62422,0.16,23.7084,1,24.9316,24.5043,24.0938,24.5801,23.8355,23.9121,0.0424,23.5610,22.0594,23.8575,0.34

In [116]:
cosmos_and_zcosmos_cross_match = pd.read_csv('cross_match2.csv')

In [ ]:
cosmos_and_zcosmos_cross_match.columns

In [118]:
cosmos_and_zcosmos_cross_match_useful_columns = ['COSMOS', 'imagA', 'n_imagA', 'Bmag', 'Vmag', 'gmag', 'rmag', 'zmag', 'zphot', 'zCOSMOS', 'z', 'CClass', 'Imag']

In [119]:
cosmos_and_zcosmos_cross_match[cosmos_and_zcosmos_cross_match_useful_columns]

,COSMOS,imagA,n_imagA,Bmag,Vmag,gmag,rmag,zmag,zphot,zCOSMOS,z,CClass,Imag
0,2710778,20.4085,1,22.2510,21.3947,22.1372,21.1875,20.6026,0.26,845680,0.3128,3.5,20.43
1,1603077,20.0348,1,22.1842,21.7297,22.2322,21.5123,21.0768,0.22,824999,0.2164,4.5,21.32
2,1242468,21.4079,1,22.6817,22.2864,22.7020,22.0964,21.5773,0.03,818595,0.0000,4.4,21.98
3,2833286,21.5056,1,22.7015,22.2570,22.5068,NaN,21.6670,0.04,848265,NaN,0.0,21.94
4,1671285,20.3302,1,23.1409,22.2112,23.1003,21.5952,20.6163,0.36,825318,0.4789,4.5,20.51
5,2710822,21.4706,1,24.2872,23.2933,24.2180,22.5126,21.3354,0.48,846003,0.5174,2.5,21.48
6,1320926,21.3904,1,25.2338,23.6471,24.9195,22.9959,21.1997,0.78,819527,0.7443,3.5,21.37
7,1242516,21.9709,1,24.0139,23.3971,24.0099,22.9684,21.5341,0.85,818027,0.9325,2.5,21.83
8,1242517,20.7033,1,23.3172,22.2866,23.1698,21.5913,20.7006,0.40,818065,0.3712,4.5,20.75
9,879829,19.7687,1,21.7659,20.8016,21.5993,20.5308,19.6853,0.15,811072,0.1682,3.5,19.73
10,1671315,19.8531,1,22.5464,21.3385,22.3688,20.7620,19.8007,0.31,825868,0.3115,2.5,19.80
11,2422138,21.3919,1,23.2460,22.6453,23.2923,22.3220,21.7479,0.39,840536,0.3811,1.5,21.36
12,1320983,22.1485,1,24.6943,24.1355,24.7955,23.7264,21.9219,0.92,819821,0.8533,2.5,22.06
13,2386876,21.5558,1,23.4622,22.5455,23.3342,22.2738,21.5930,0.17,839239,0.3892,2.1,21.66
14,1321040,21.8416,1,22.8729,22.4171,22.9626,22.2404,21.8429,0.36,819787,0.3863,4.5,21.86
15,2659200,21.0828,1,22.4037,21.8348,22.4335,21.6906,21.1529,0.29,845205,0.3462,23.5,21.13
16,1242617,21.5545,1,23.7601,22.9823,23.7750,22.4902,21.3872,0.43,818232,0.4494,1.5,21.48
17,2386933,22.3449,1,24.1797,23.3834,24.1567,23.0119,22.2728,0.30,839596,0.2692,1.5,22.36
18,2386934,21.8269,1,23.5754,22.8305,23.5200,22.5958,21.9508,0.25,839601,0.7235,2.1,21.86
19,3017672,22.4522,1,25.2853,24.4761,25.2347,23.6141,22.4223,0.67,850346,0.6095,3.1,22.44
20,1603236,22.3554,1,23.8236,23.4236,23.9294,23.0842,22.5615,0.55,824838,0.5339,3.5,22.40
21,2711007,22.0076,1,25.3155,24.0428,25.0742,23.3524,21.7928,0.70,846209,0.6933,3.1,22.00
22,956632,21.5318,1,22.7596,22.2252,22.8080,22.0033,21.5150,0.40,812504,0.3417,4.5,21.54
23,2711022,21.1176,1,23.9601,23.0711,23.8457,22.3176,21.0446,0.60,846145,0.5513,3.5,21.07
24,2422268,20.0177,1,21.7015,21.0961,21.7724,20.7618,20.1116,0.39,840568,0.4065,4.5,20.05
25,2659237,22.4421,1,23.7176,23.6095,23.8701,23.4966,22.4725,0.78,845117,0.8519,3.5,22.37
26,2711046,22.4510,1,24.2810,23.3420,24.2300,22.9699,22.3709,0.23,846017,NaN,20.0,22.49
27,2711047,21.5674,1,23.3874,22.8487,23.5100,22.4070,21.7049,0.50,846018,0.5164,3.5,21.52
28,2833726,22.1819,1,23.5545,23.0649,23.6367,22.8193,22.3679,0.27,847884,0.2706,1.5,22.21
29,956660,21.3462,1,24.9380,23.7511,24.7632,22.9199,21.1824,0.86,812542,0.6643,3.5,21.26
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10734,1206475,22.6587,1,24.4839,24.1562,24.6792,23.7063,22.1818,1.14,817535,0.7685,1.1,22.46
10735,2045170,21.0288,1,23.2167,22.8058,23.3523,22.4398,20.9488,0.88,833307,0.8542,1.5,20.93
10736,1854996,21.2479,1,24.3622,23.2020,24.1669,22.4563,21.0436,0.63,828669,0.6244,3.5,21.29
10737,1277017,22.1344,1,24.9842,24.4774,25.0573,23.7169,22.4398,0.98,700632,0.6327,4.5,21.82
10738,1277018,21.7493,1,23.4689,23.2732,23.6709,22.7079,21.8046,0.62,819286,0.6332,3.5,21.32
10739,1701435,22.1425,1,23.1197,22.7064,23.1560,22.5221,22.1499,0.33,826178,0.3427,4.5,22.24
10740,1058345,21.5605,1,24.0969,23.3850,24.1074,22.6866,21.4402,0.54,814715,0.5534,2.5,21.48
10741,1349010,23.7136,1,25.1706,25.0839,25.2998,25.0077,23.8822,0.99,819735,0.8977,9.5,22.39
10742,1349011,23.7117,1,25.3677,25.2813,25.4637,25.1748,24.0078,0.94,819735,0.8977,9.5,22.39
10743,983853,20.8150,1,22.9135,22.6549,23.0487,22.2125,21.2833,0.70,813608,0.6943,3.5,20.85
10744,2786019,21.6487,1,25.0026,23.9590,25.0402,23.1511,21.2326,0.88,847400,0.8871,3.5,21.67
10745,2786020,21.2524,1,23.7799,23.1536,23.8010,22.4798,21.1446,0.69,847397,NaN,20.0,21.20
10746,983863,21.7931,1,23.1441,23.0220,23.2816,22.9186,21.9296,0.84,813270,0.8965,3.5,21.70
10747,2109581,17.5100,1,20.6086,19.6305,20.4200,19.3194,18.4175,0.19,833807,0.1748,3.5,17.49
10748,1564195,23.1425,1,25.4396,24.6730,25.4853,24.1458,22.6394,0.91,823797,NaN,0.0,21.79
10749,2045276,22.3387,1,25.6277,24.3167,25.3765,23.5301,21.9155,0.62,833508,0.6756,1.5,22.43
10750,1564196,22.5003,1,24.9187,24.3315,24.9876,23.7995,22.0325,1.09,823797,NaN,0.0,21.79
10751,1277153,22.2172,1,24.7592,24.1216,24.8056,23.7154,22.0334,0.93,819240,0.8959,1.5,22.10
10752,1764905,22.2782,1,23.8831,23.5970,24.0298,23.3098,21.9319,1.09,827939,1.1130,1.5,22.08
10753,1564201,22.3597,1,22.6795,22.7604,22.9277,22.7614,22.1494,1.52,824066,1.3665,2.5,22.31
10754,1973935,21.9637,1,25.7668,24.3000,25.5061,23.4711,21.4264,0.86,831237,0.9060,2.5,21.84
10755,1206591,21.7548,1,24.2913,23.9084,24.3637,23.3181,21.5579,1.02,817834,0.9696,2.5,21.72
10756,1058507,21.7914,1,23.4962,22.9064,23.6065,22.4847,21.8941,0.44,814439,0.4612,4.5,21.83
10757,2786150,21.6096,1,23.5519,23.2030,23.7374,22.8598,21.3375,1.03,847486,1.0048,4.5,21.47
10758,1206610,22.3849,1,23.7939,23.6160,23.9312,23.4670,22.4676,0.86,817616,0.8340,9.5,22.38
10759,1349241,21.5965,1,24.2443,23.5950,24.2627,22.9340,21.5536,0.72,819961,0.6880,3.5,21.54
10760,1277213,18.2445,2,18.9892,18.6668,19.0664,18.6337,18.4081,0.00,819027,0.0000,4.5,18.41
10761,2045385,21.0378,1,23.2258,22.7868,23.2413,22.3898,20.7057,1.05,833510,0.9444,3.5,20.94
10762,2677998,21.7011,1,23.4020,23.0782,23.5205,22.6820,21.6341,0.68,845625,0.6991,4.5,21.74
10763,1206660,21.3393,1,22.5235,22.4955,22.7153,22.4309,21.5586,0.94,817590,0.8710,3.5,21.76

In [122]:
##Trying to get only the points in cosmos that arent also in zcosmos.
cosmos_df_in_zcosmos = cosmos_df_filtered[~cosmos_df_filtered['COSMOS'].isin(cosmos_and_zcosmos_cross_match['COSMOS'])]
print(len(cosmos_df_in_zcosmos))

9861

In [125]:
##Trying to get only the points in zcosmos that arent also in cosmos.
zcosmos_df_in_cosmos = zcosmos_df_filtered[~zcosmos_df_filtered['zCOSMOS'].isin(cosmos_and_zcosmos_cross_match['zCOSMOS'])]
print(len(zcosmos_df_in_cosmos))

11

Step 0: Upload cosmos doc with UNLIMITED cosmos, update everything to make sure they are using this NEW AND IMPROVED cosmos doc.

Step 1: Remove duplicates from crossmatch.

Step 2: Do a diagnostic plot to find what abnormal values there are.

Step 3: Pick out 999, 0.000, etc from crossmatch.

Step 4: Make sure everything after that is using better crossmatch.

In [ ]:
for i in Useful_columns_zcosmos_data:
    plt.hist(ZCosmos[i], color='blue', linewidth=5)
    plt.xlim(0, 30)
    plt.xlabel(i)
    plt.ylabel("Number")
    plt.title("ZCosmos" + " " + i)
    plt.savefig("ZCosmos" + " " + i + " " + "Plot.png")
    plt.show()

In [ ]:
for i in Useful_columns_cosmos_data:
    import matplotlib.pyplot as plt
    plt.hist(Cosmos[i], color='blue', linewidth=5, bins=100)
    plt.xlim(0, 30)
    plt.xlabel(i)
    plt.ylabel("Number")
    plt.title("Cosmos" + " " + i)
    plt.savefig("Cosmos" + " " + i + " " + "Plot.png")
    plt.show()

In [ ]:
Cosmos_indices = [1,4,5,6,8]
Cosmos_bands = [Useful_columns_cosmos_data[index] for index in Cosmos_indices]

color = np.empty((4, len(Cosmos)))
for b in range(len(Cosmos_indices)-1):
    color[b] = np.array(Cosmos[Cosmos_bands[b]])-np.array(Cosmos[Cosmos_bands[b+1]])

In [ ]:
for i in range(len(Cosmos_bands)-1):
    import matplotlib.pyplot as plt
    plt.hist(color[i], color='blue', linewidth=5, bins=500)
    plt.xlim(-5, 5)
    plt.xlabel(i)
    plt.ylabel("Number")
    plt.title("Cosmos" + " " + str(i))
    plt.savefig("Cosmos" + " " + str(i) + " " + "Plot.png")
    plt.show()

In [ ]:
for i in range(len(bands)-2):
    plt.scatter(color[i], color[i+1], s=1, alpha=0.1)
    plt.xlim(-5,5)
    plt.ylim(-5,5)
    plt.show()

In [ ]:
for i in range(len(bands)-1):
    plt.scatter(Cosmos_redshift, color[i], s=1, alpha=0.1)
    plt.xlim(0,3)
    plt.ylim(-5,5)
    plt.show()

In [ ]:
ZCosmos_indices = [0,1]
ZCosmos_bands = [Useful_columns_zcosmos_data[index] for index in ZCosmos_indices]

color = np.empty((2, len(ZCosmos)))
for b in range(len(ZCosmos_indices)-1):
    color[b] = np.array(ZCosmos[ZCosmos_bands[b]])-np.array(ZCosmos[ZCosmos_bands[b+1]])

In [ ]:
for i in range(len(ZCosmos_bands)-1):
    import matplotlib.pyplot as plt
    plt.hist(color[i], color='blue', linewidth=5, bins=500)
    plt.xlim(-5, 5)
    plt.xlabel(i)
    plt.ylabel("Number")
    plt.title("ZCosmos" + " " + str(i))
    plt.savefig("ZCosmos" + " " + str(i) + " " + "Plot.png")
    plt.show()

In [ ]:
for i in range(len(ZCosmos_bands)-2):
    plt.scatter(color[i], color[i+1], s=1, alpha=0.1)
    plt.xlim(-5,5)
    plt.ylim(-5,5)
    plt.show()

In [ ]:
for i in range(len(ZCosmos_bands)-1):
    plt.scatter(ZCosmos_redshift, color[i], s=1, alpha=0.1)
    plt.xlim(0,3)
    plt.ylim(-5,5)
    plt.show()